In [2]:
# 1.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import geopandas as gpd

%matplotlib inline

In [3]:
# 2a.
candy = gpd.read_file('data/candy_state.geojson')

In [4]:
# 2b.
candy.columns = ['name', '3rd_place', '2nd_lbs', 'state', '2nd_place', '3rd_lbs', '1st_place', '1st_lbs', 'geometry']
candy.head(2)

,name,3rd_place,2nd_lbs,state,2nd_place,3rd_lbs,1st_place,1st_lbs,geometry
0,Florida,Reese's Peanut Butter Cups,543529,FL,Snickers,194117,Skittles,660000,"MULTIPOLYGON (((-82.98339 24.60263, -82.98624 ..."
1,Kansas,Dubble Bubble Gum,210375,KS,Reese's Peanut Butter Cups,111375,M&M's,247500,"POLYGON ((-102.04521 38.69757, -102.04521 38.7..."

In [32]:
# 3.
candy[['total_lbs']] = candy[['1st_lbs', '2nd_lbs', '3rd_lbs']].sum(1)
candy.tail()

,name,3rd_place,2nd_lbs,state,2nd_place,3rd_lbs,1st_place,1st_lbs,geometry,total_lbs
46,Rhode Island,Twix,11583,RI,M&M's,7078,Candy Corn,16731,"MULTIPOLYGON (((-71.67264 41.13429, -71.67609 ...",35392
47,Hawaii,Milky Way,255984,HI,Hawaiian Host,105405,Hershey Kisses,271042,"MULTIPOLYGON (((-166.38290 23.82966, -166.3844...",632431
48,Oregon,Tootsie Pops,51374,OR,M&M's,36696,Reese's Peanut Butter Cups,91740,"POLYGON ((-124.06545 45.78305, -124.06206 45.7...",179810
49,Arizona,Hot Tamales Minis,680450,AZ,Hershey Kisses,453633,Snickers,963971,"POLYGON ((-114.51645 33.02762, -114.51664 33.0...",2098054
50,South Dakota,Almond Joy,19569,SD,Jolly Ranchers Candy,6179,Starburst,27809,"POLYGON ((-100.49937 45.94365, -100.48192 45.9...",53557

In [27]:
# 4.
gcw = candy[['state', 'total_lbs']]
gcw = gcw.sort_values(by=['total_lbs'], ascending=False)
gcw.head(1)

  state  total_lbs
4    CA    3564000

In [28]:
# 5.
lcw = candy[['state', 'total_lbs']]
lcw = lcw.sort_values(by=['total_lbs'], ascending=True)
lcw.head(1)

   state  total_lbs
44    CT       4895

In [57]:
# 6a.
mean = candy[['total_lbs']].mean()
mean.head()

total_lbs    373608.882353
dtype: float64

In [58]:
# 6b.
median = candy[['total_lbs']].median()
median.head()

total_lbs    191589.0
dtype: float64

In [ ]:
pop = pd.read_csv('data/population_est2017.csv')
pop.head()