In [1]:
# 1.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import geopandas as gpd

%matplotlib inline

In [2]:
# 2a.
candy = gpd.read_file('data/candy_state.geojson')

In [4]:
# 2b.
candy.columns = ['name', '3rd_place', '2nd_lbs', 'state', '2nd_place', '3rd_lbs', '1st_place', '1st_lbs', 'geometry']
candy.head()

,name,3rd_place,2nd_lbs,state,2nd_place,3rd_lbs,1st_place,1st_lbs,geometry
0,Florida,Reese's Peanut Butter Cups,543529,FL,Snickers,194117,Skittles,660000,"MULTIPOLYGON (((-82.98339 24.60263, -82.98624 ..."
1,Kansas,Dubble Bubble Gum,210375,KS,Reese's Peanut Butter Cups,111375,M&M's,247500,"POLYGON ((-102.04521 38.69757, -102.04521 38.7..."
2,New York,Reese's Peanut Butter Cups,95047,NY,Candy Corn,39603,Sour Patch Kids,198016,"MULTIPOLYGON (((-74.04657 40.68964, -74.04675 ..."
3,Washington,Hershey Kisses,171211,WA,Tootsie Pops,61147,Salt Water Taffy,207900,"POLYGON ((-123.24903 48.28431, -123.23154 48.3..."
4,California,Skittles,1188000,CA,M&M's,726000,Assorted Salt Water Taffy,1650000,"MULTIPOLYGON (((-119.63472 33.26544, -119.6363..."

In [18]:
# 3.
candy[['total_lbs']] = candy[['1st_lbs', '2nd_lbs', '3rd_lbs']].sum(1)
candy.head(2)

,name,3rd_place,2nd_lbs,state,2nd_place,3rd_lbs,1st_place,1st_lbs,geometry,total_lbs
0,Florida,Reese's Peanut Butter Cups,543529,FL,Snickers,194117,Skittles,660000,"MULTIPOLYGON (((-82.98339 24.60263, -82.98624 ...",1397646
1,Kansas,Dubble Bubble Gum,210375,KS,Reese's Peanut Butter Cups,111375,M&M's,247500,"POLYGON ((-102.04521 38.69757, -102.04521 38.7...",569250

In [6]:
# 4.
gcw = candy[['state', 'total_lbs']]
gcw = gcw.sort_values(by=['total_lbs'], ascending=False)
gcw.head(1)

  state  total_lbs
4    CA    3564000

In [7]:
# 5.
lcw = candy[['state', 'total_lbs']]
lcw = lcw.sort_values(by=['total_lbs'], ascending=True)
lcw.head(1)

   state  total_lbs
44    CT       4895

In [11]:
# 6a.
mean = candy[['total_lbs']].mean()
mean.head()

total_lbs    373608.882353
dtype: float64

In [12]:
# 6b.
median = candy[['total_lbs']].median()
median.head()

total_lbs    191589.0
dtype: float64

In [36]:
# 7.
pop = pd.read_csv('data/population_est2017.csv')
pop_candy = pop.join(candy.set_index('name'), on='NAME')
pop_candy.columns = ['name', 'pop', '3rd_place', '2nd_lbs', 'state', '2nd_place', '3rd_lbs', '1st_place', '1st_lbs', 'geometry', 'total_lbs']
pop_candy.head(2)

,name,pop,3rd_place,2nd_lbs,state,2nd_place,3rd_lbs,1st_place,1st_lbs,geometry,total_lbs
0,Alabama,4874747,Tootsie Pops,40173,AL,Candy Corn,34434,Hershey's Mini Chocolate Candy Bars,66000,"POLYGON ((-88.13999 34.58170, -88.13997 34.581...",140607
1,Alaska,739795,Kit Kat,4012,AK,Blow Pops,3209,Twix,5082,"MULTIPOLYGON (((172.35392 52.89499, 172.34785 ...",12303

In [37]:
pop_candy.dtypes

name           object
pop             int64
3rd_place      object
2nd_lbs         int64
state          object
2nd_place      object
3rd_lbs         int64
1st_place      object
1st_lbs         int64
geometry     geometry
total_lbs       int64
dtype: object

In [38]:
# 8.
# pop_candy = pop_candy[['total_lbs', 'pop']]
pop_candy.head()

,name,pop,3rd_place,2nd_lbs,state,2nd_place,3rd_lbs,1st_place,1st_lbs,geometry,total_lbs
0,Alabama,4874747,Tootsie Pops,40173,AL,Candy Corn,34434,Hershey's Mini Chocolate Candy Bars,66000,"POLYGON ((-88.13999 34.58170, -88.13997 34.581...",140607
1,Alaska,739795,Kit Kat,4012,AK,Blow Pops,3209,Twix,5082,"MULTIPOLYGON (((172.35392 52.89499, 172.34785 ...",12303
2,Arizona,7016270,Hot Tamales Minis,680450,AZ,Hershey Kisses,453633,Snickers,963971,"POLYGON ((-114.51645 33.02762, -114.51664 33.0...",2098054
3,Arkansas,3004279,Hot Tamales Minis,194631,AR,Butterfinger,51218,Jolly Ranchers Candy,245850,"POLYGON ((-94.55218 36.10224, -94.55219 36.102...",491699
4,California,39536653,Skittles,1188000,CA,M&M's,726000,Assorted Salt Water Taffy,1650000,"MULTIPOLYGON (((-119.63472 33.26544, -119.6363...",3564000

In [46]:
# 8
pop_candy[['per_capita']] = pop_candy['total_lbs']/pop_candy['pop']
pop_candy.head(2)

,name,pop,3rd_place,2nd_lbs,state,2nd_place,3rd_lbs,1st_place,1st_lbs,geometry,total_lbs,per_capita
0,Alabama,4874747,Tootsie Pops,40173,AL,Candy Corn,34434,Hershey's Mini Chocolate Candy Bars,66000,"POLYGON ((-88.13999 34.58170, -88.13997 34.581...",140607,0.028844
1,Alaska,739795,Kit Kat,4012,AK,Blow Pops,3209,Twix,5082,"MULTIPOLYGON (((172.35392 52.89499, 172.34785 ...",12303,0.016630